:root {
  /* Font Sizes */
  --font-semibold-32: 32px;
  --font-semibold-24: 24px;
  --font-semibold-22: 22px;
  --font-semibold-20: 20px;
  --font-semibold-18: 18px;
  --font-semibold-16: 16px;
  --font-semibold-14: 14px;

  --font-medium-20: 20px;
  --font-medium-18: 18px;
  --font-medium-16: 16px;
  --font-medium-14: 14px;

  --font-regular-20: 20px;
  --font-regular-18: 18px;
  --font-regular-16: 16px;
  --font-regular-14: 14px;

  --font-light-18: 18px;
  --font-light-16: 16px;
}
